<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <title>
        Rizhiy -
        {% block title %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <header id="header">
        <nav id="navbar" class="closed">
            <a href="{{ url_for("index") }}" class="left">Home</a>
            <a href="{{ url_for("wishlist.index") }}" class="left">Wishlist</a>
            {% if g.user == None %}
                <a href="{{ url_for("auth.login") }}" class="right">Log in</a>
                <a href="{{ url_for("auth.register") }}" class="right">Register</a>
            {% else %}
                <div id="user-part" class="right">
                    {% if g.user["picture_url"] == None %}
                        <div id="user-icon">
                            <i>{{ g.user["username"].0.upper() }}</i>
                        </div>
                    {% else %}
                        <img id="user-picture"
                             src="{{ g.user["picture_url"] }}"
                             alt="User Profile Picture"
                             width="200"
                             height="200">
                    {% endif %}
                    <a href="{{ url_for("auth.logout") }}">Log out</a>
                </div>
            {% endif %}
            <a class="right icon" onclick="open_nav()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>
    </header>
    {% for message in get_flashed_messages(False, 'message') %}<div class="flash-message">{{ message }}</div>{% endfor %}
    {% for message in get_flashed_messages(False, 'error') %}<div class="flash-error">{{ message }}</div>{% endfor %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
