{% extends "base.html.jinja" %}
{% block title %}Main{% endblock %}
{% block content %}
    <h1>Artem Vasenin</h1>
    <hr>
    <div class="icon-link">
        <a href="{{ github }}">
            <i id="github-icon" class="fa-brands fa-github"></i>
        </a>
    </div>
    <div class="icon-link">
        <a href="{{ linkedin }}">
            <i id="linkedin-icon" class="fa-brands fa-linkedin"></i>
        </a>
    </div>
    <hr>
    <div class="icon-link">
        <a href="{{ goodreads }}">
            <i id="goodreads-icon" class="fa-brands fa-goodreads"></i>
        </a>
    </div>
    <div class="icon-link">
        <a href="{{ imdb }}">
            <i id="imdb-icon" class="fa-brands fa-imdb"></i>
        </a>
    </div>
    <div class="icon-link">
        <a href="{{ steam }}">
            <i id="steam-icon" class="fa-brands fa-steam"></i>
        </a>
    </div>
{% endblock %}
