{% extends "base.html.jinja" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Artem Vasenin</h1>
    <hr>
    <div class="img-icon">
        <a href="{{ github }}">
            <img id="github-icon"
                 src="{{ url_for('static', filename='images/logos/github.png') }}"
                 alt="github logo" />
        </a>
    </div>
    <div class="img-icon">
        <a href="{{ linkedin }}">
            <img src="{{ url_for('static', filename='images/logos/linkedin.png') }}"
                 alt="linkedin logo" />
        </a>
    </div>
    <hr>
    <div class="img-icon">
        <a href="{{ goodreads }}">
            <img src="{{ url_for('static', filename='images/logos/goodreads.png') }}"
                 alt="goodreads logo" />
        </a>
    </div>
    <div class="img-icon">
        <a href="{{ imdb }}">
            <img src="{{ url_for('static', filename='images/logos/imdb.png') }}"
                 alt="imdb logo" />
        </a>
    </div>
    <div class="img-icon">
        <a href="{{ steam }}">
            <img src="{{ url_for('static', filename='images/logos/steam.png') }}"
                 alt="steam logo" />
        </a>
    </div>
    <div class="img-icon">
        <a href="{{ mal }}">
            <img src="{{ url_for('static', filename='images/logos/mal.png') }}"
                 alt="mal logo" />
        </a>
    </div>
{% endblock %}
