{% extends "base.html.jinja" %}
{% block title %}Main{% endblock %}
{% block content %}
    <h1>Artem Vasenin</h1>
    <hr>
    <ul>
        <!-- TODO: Add icons -->
        <li>
            <a href="{{ github }}">GitHub</a>
        </li>
        <li>
            <a href="{{ linkedin }}">LinkedIn</a>
        </li>
    </ul>
    <hr>
    <div>WIP</div>
{% endblock %}
