#navbar {
  background-color: #ccc;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#navbar>a {
  text-align: center;
  margin: 0.5em 0.7em;
  display: block;
}

#user-part>* {
  display: inline-block;
  margin: 0.5em 0.7em;
}

#user-picture {
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em 0.7em;
  border-radius: 50%;
}

#user-icon {
  display: inline-block;
  margin: 0.3em 0.1em 0.3em 0.6em;
}

#user-icon>i {
  font-size: 1.2em;
  text-align: center;
  border-radius: 50%;
  background-color: #afeeee;
  color: darkblue;
  padding: 0.1em 0.4em;
  font-style: normal;
}

#navbar .left {
  float: left;
}

#navbar .right {
  float: right;
}

#navbar .icon {
  display: none;
}

@media (max-width: 350px) {
  #navbar .left:not(:first-child) {
    display: none;
  }

  #navbar .right {
    display: none;
  }

  #navbar .icon {
    display: block;
  }

  #navbar.open {
    position: relative;
  }

  #navbar.open>a,
  #navbar.open .left:not(:first-child) {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar.open #user-part {
    float: none;
    text-align: left;
    display: block;
  }

  #navbar.open .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  #navbar {
    background: #2d3137;
  }
}
