#wishlist-header {
  font-weight: bold;
}

.wish {
  display: flex;
  margin: 0.5em 1em;
}

.wish-content>div {
  display: inline-block;
  margin: 0 0.5em;
}

.wish-img {
  float: left;
  min-width: 6em;
}

.wish-img>img {
  width: 6em;
}

.wish-title {
  font-weight: bold;
}

.wish-text>div {
  text-align: left;
}

.wish-content {
  display: flex;
  flex-grow: 1;
}

.wish-text {
  flex-grow: 1;
  min-width: 5em;
}

.wish-text-desc {
  white-space: pre-wrap;
}

.wish-text-header>* {
  display: inline-block;
}

#wishlist-header-separator {
  border: 0.15em solid;
}

.wish-price {
  width: 5em;
  min-width: 5em;
}

.usd-price {
  padding-top: 0.5em;
  color: gray;
}

.reserved .wish-title,
.reserved .wish-text-desc,
.reserved .wish-text-links,
.reserved .wish-price {
  text-decoration: line-through;
}

.reserved .wish-img img {
  filter: grayscale(1);
}

.wish-reserve {
  width: 5em;
  min-width: 5em;
}

@media (max-width: 600px) {
  .wish-content {
    display: block;
  }

  .wish-content>div {
    display: block;
  }

  .wish-price>div {
    display: inline-block;
  }

  /* Required because of inline-block */
  .reserved .wish-price>div {
    text-decoration: line-through;
  }

  .usd-price {
    padding-top: 0;
  }

  .wish-text,
  .wish-price,
  .wish-reserve {
    width: 100%;
    text-align: left;
  }

  .usd-price {
    border-left: 0.1em solid;
    border-color: gray;
    padding-left: 0.5em;
  }
}

#links {
  height: 3em;
}

.wish-text-links>a {
  display: block;
}
