{% extends "base.html.jinja" %}
{% block content %}
    {% block auth %}{% endblock %}
    <div id="sign-in-separator">
        <hr>
        or sign in with
        <hr>
    </div>
    <form action="{{ url_for("auth.google_login") }}">
        <button id="google-sign-in" onclick="submit_form()">
            <img src="{{ url_for('static', filename='images/google-logo-small.png') }}"
                 alt="google logo">
            Google
        </button>
    </form>
{% endblock %}
