{% extends "base.html.jinja" %}
{% block content %}
    <div id="auth">
        {% block auth %}{% endblock %}
    </div>
    <div class="separator">or</div>
    <div class="google-container auth-form">
        <form action="{{ url_for("auth.google_login") }}">
            <button class="google-button" type="submit">
                <img src="{{ url_for('static', filename='images/google_logo.png') }}"
                     alt="Google logo" />
                <span>Sign in with Google</span>
            </button>
        </form>
    </div>
{% endblock %}
