{% extends "auth/base.html.jinja" %}
{% block title %}Log In{% endblock %}
{% block auth %}
    <form method="post">
        <input type="username"
               name="username"
               id="username"
               required
               placeholder="username" />
        <input type="password"
               name="password"
               id="password"
               required
               placeholder="password" />
        <input type="submit" value="Log In" />
    </form>
    First time? <a href="{{ url_for("auth.register") }}">Register</a>
{% endblock %}
