{% extends "base.html.jinja" %}
{% block title %}New Wish{% endblock %}
{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" placeholder="A wish" required />
        <label for="desc">Description</label>
        <textarea name="desc" id="desc"></textarea>
        <label for="rough_price">Price</label>
        <input name="rough_price" id="rough_price" placeholder="0.00" />
        <input name="currency" id="currency" placeholder="USD" />
        <label for="picture_url">Picture_URL</label>
        <input name="picture_url" id="picture_url" />
        <!-- Add some javascript to be able to add links individually -->
        <label for="links">Links</label>
        <textarea name="links" id="links"></textarea>
        <input type="submit" value="Save" />
    </form>
{% endblock %}
